.darkTheme {
  background-color: black;
  color: white;
}

.lightTheme {
  background-color: white;
  color: black;
}

.lightTheme a {
  color: black;
}

.darkTheme a {
  color: white;
}

.redTheme {
  background-color: red;
  color: white;
}

.redTheme a {
  color: white;
}
